<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ghanaian Day Name app</title>
</head>
<body>
<p id="par1">Enter a date</p>
<input type="text" id="dateentered" >
<button id="submitdate" onclick="findTheDate();" type="button">Check</button>

<p id="par2"></p>
<p id="spanForQues"></p>
<input type="text" id="femaleOrMale">
<button id="submitnamechoice" onclick="findName();" type="button">Check</button>



<p id="name"></p>


<button type="button" onclick="postMethod();">Post check</button>
<button type="button" onclick="postWithResponse()">Post with response check</button>

<script src="/GhanaianDayNameAppJS.js"></script>
</body>
</html>